@charset "UTF-8";
/*MIXINS*/
/*position absolue en 50-50 sur axe X et Y
@include absolute pas besoin de paranthèse (valuer deja connu)*/
/*.loaderbox{
    @if $var == 'fondu'{
    opacity: O;
    }
    @else{
        @return 'fondu'
    }
}*/
@keyframes spin {
  0% {
    transform: rotate(Odeg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes flash {
  0% {
    box-shadow: 0 0 60px #99E2D0;
    animation-timing-function: 80ms;
  }
  30% {
    box-shadow: 0 0 60px #FA8072;
    animation-timing-function: 40ms;
  }
  60% {
    box-shadow: 0 0 60px #99E2D0;
    animation-timing-function: 80ms;
  }
  90% {
    box-shadow: 0 0 60px #FF79DA;
    animation-timing-function: 40ms;
  }
  100% {
    box-shadow: 0 0 60px #9356DC;
    animation-timing-function: 80ms;
  }
}
@keyframes disappear {
  0% {
    opacity: 0.9;
  }
  20% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes disappear_dot {
  0% {
    opacity: 0.9;
    animation-timing-function: 30ms;
  }
  50% {
    opacity: 0.5;
    animation-timing-function: 60ms;
  }
  80% {
    opacity: 0.2;
    animation-timing-function: 80ms;
  }
  100% {
    opacity: 0;
    animation-timing-function: 100ms;
  }
}
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .body, #box-logo, .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-flow: column nowrap;
  }
  /*HEADER*/
  .imgheader {
    width: 300px;
    height: 400px;
    object-fit: cover;
  }
  /*LOADER*/
  .loaderbox {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: disappear 4s 5s ease-in-out;
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100vh;
    background: #ffffff;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
  }
  .loader {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 7px solid transparent;
    position: absolute;
    z-index: 20;
    animation: spin 2s linear infinite;
    border-top-color: #99E2D0;
  }
  .loader::before, .loader::after {
    content: "";
    border-radius: 50%;
    border: 7px solid transparent;
    position: absolute;
    z-index: 20;
  }
  .loader::before {
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    position: absolute;
    z-index: 20;
    border-top-color: #FF79DA;
    animation: spin 3s linear infinite;
  }
  .loader::after {
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    position: absolute;
    z-index: 20;
    border-top-color: #9356DC;
    animation: spin 1.5s linear infinite;
  }
  .dot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 20;
    top: 45px;
    right: 45px;
    bottom: 45Spx;
    left: 45px;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    animation: flash 3s cubic-bezier(0, 0.57, 0, 0.57) infinite;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(9, 9, 121) 30%, rgb(147, 86, 220) 100%);
  }
  .dottxt1, .dottxt2, .dottxt3 {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disappear_dot 3s linear;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-duration: 3s;
    font-weight: bold;
    font-size: 28px;
  }
  .dottxt1 {
    animation-delay: 500ms;
    color: #99E2D0;
  }
  .dottxt2 {
    color: #9356DC;
    animation-delay: 1.5s;
  }
  .dottxt3 {
    animation-delay: 3s;
    color: #FF79DA;
  }
  .geoloc {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 10px;
  }
  .geoloc__icone {
    display: flex;
    align-items: center;
  }
  .geoloc__txt {
    display: flex;
    align-items: center;
    border: none;
  }
}

/*# sourceMappingURL=styles.css.map */
