@keyframes spin{
    0%{
        transform: rotate(Odeg)
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes flash{
    0%{
        box-shadow: 0 0 40px $vert;
        animation-timing-function: 80ms;
        
    }
    30%{
        box-shadow: none;
        animation-timing-function: 40ms;
        
    }
    60%{
        box-shadow: 0 0 40px $saumon; 
        animation-timing-function: 80ms;
    }
    90%{
        box-shadow: none;
         animation-timing-function: 40ms;
    }
    100%{
        box-shadow: 0 0 40px $violet;
        animation-timing-function: 80ms;
    }
}

@keyframes disappear {
    0%{
        opacity: 0.9;
    }
    20%{
        opacity: 0.7;
    }
    40%{
        opacity: 0.6;
    }
    60%{
        opacity: 0.4;
    }
    90%{
        opacity: 0.2;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}
