$vert: #99E2D0;
$rose: #FF79DA;
$violet: #9356DC;
$noir: #1e1e1e;
$saumon: #FA8072;
$blanc:#ffffff;
$linearg: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 30%, rgba(147,86,220,1) 100%);
$linear-rosev: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
$linear-violetr: linear-gradient(0deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);