@import "_variables.scss";
@import "_mixins.scss";
@import "_functions.scss";
@import "_buttons.scss";
@import "_forms.scss";
@import "effects.scss";

*{
    font-family: "roboto";
}
*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
/*BODY*/
#body{
    @include columnaround;
}
.box-logo, .header, .present, #section-geoloc, .geoloc
.resto, .fonctionmt, #tssections {
    @extend #body;
}
/*LOADER*/
.loaderbox{
    @include loaderbox;
}
.loader{
    @include loader;
}
/*HEADER*/
.box-logo{
    margin: 10px 0px 10px 0px;
        &__div{
            @include flexcenter100;
            padding: 10px 0 10px 0;
                &__img{
                    margin-top: 0;
                    @extend .box-logo__div;
                    width: 50%;
                }
        }
}
/*SECTION GEOLOC*/
.geoloc{
    display: flex;
    justify-content: space-between;
    align-items: center;
        &__icone{
            font-size: 20px;
            width: 20%;
        }
        &__txt{
            border: none;
            font-size: 20px;
            width: 80%
        }
}
.present{
    @include flexcenter100;
    margin: 30px 0 30px 0px;
        &__h1{
            font-weight: 800;
            width: 60%;
            letter-spacing: 1px;
            margin: 10px 0 5px 0px;
            text-align: center;
        }
        &__p{
            @extend .present__h1;
            font-weight: normal;
            width: 80%;
        }
        &__btnexploresto{
            @include btnexploresto;
                @media screen (max-width 768px){
                    width: 60%;
                }
                &:hover{
                    @include buttonhov;
                }
        }
        &__a{
            color: $blanc
        }
    }
/*SECTION FONCTIONNEMENT*/
.fonctionmt{
    width: 95%;
        &__h1{
                width: 90%;
        }
        &__divbox{
            width: 90%;
            margin-bottom: 10px;
        }
        &__div{
            @include margin20TB;
            color: $noir;
            height: 80px;
            border-radius: 20px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);  
                &:hover{
                    background-color: lighten($violet, 35%);
                    color: $violet;
                    .fonctionmt__h3{
                        color: $noir;
                    }
                }
        }
        &__i{
            font-size: xx-large;
        }
        &__nb{
            @include flexcenter;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 24px;
            background: $violet;
            color: $blanc;
            position: absolute;
            left: 7%;
            transform: translate(-50%, -6%);
            z-index: 1;
        }
}
/*SECTION RESTAURANTS*/
.resto{
    @include columncenter100;
    @include margin10TB;
        &__h2{
            @extend .resto;
        }
        &__cards{
            width: 90%;
            background-color: $blanc;
            box-shadow: 2px 2px 5px grey;
            border-radius: 20px;
            @include margin20TB;
        }
        &__a{
            color: $noir;
        }
        &__imgresto{
            @include flexcenter100;
            @include imgresto;
        }
        &__txtcards{
            @include textcards;
        }
}
.nouveau{
    position: relative;
}
.nouveau::before{
    content: "Nouveau";
    position: absolute;
    background-color: $vert;
    color: darken($vert, 50%);
    padding: 10px 20px 10px 20px;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    font-weight: 600;
}
/*FOOTER*/
.footer{
    @include footer;
}
