@import "_variables.scss";
@import "_mixins.scss";
@import "_functions.scss";
@import "_buttons.scss";
@import "_forms.scss";
@import "effects.scss";

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px){

    .body{
        @include flexcenter100;
        @include column;
    }
    /*HEADER*/
    .imgheader{
        @include imgheader;
    }
    #box-logo, .header{
        @extend .body;
    }
    /*LOADER*/
    .loaderbox{
        @include flexcenter;
        @include positionO;
        @include fondu;
        @include zindex;
        width: 100%;
        height: 100vh;
        background: $blanc;
        animation-fill-mode: forwards;
        animation-delay: 3.5s;
    }
    .loader{
        display: block;
        width: 250px;
        height: 250px;
        @include border7;
        @include zindex;
        animation: spin 2s linear infinite;
        border-top-color: $vert;
    }
    .loader::before, .loader::after{
        content: "";
        @include border7;
        @include zindex;
    }
    .loader::before{
        @include position10;
        @include zindex;
        border-top-color: $rose;
        animation: spin 3s linear infinite;
    }
    .loader::after{
        @include position25;
        @include zindex;
        border-top-color: $violet;
        animation: spin 1.5s linear infinite;
    }
    .dot{
        @include flexcenter;
        @include zindex;
        top: 45px;
        right: 45px;
        bottom: 45Spx;
        left: 45px;
        width: 145px;
        height: 145px;
        border-radius: 50%;
        animation: flash 3s cubic-bezier(0, 0.57, 0, 0.57) infinite;
        background: $linearg;
    }
    .dottxt1, .dottxt2, .dottxt3{
        @include flexcenter;
        @include fondu_dot;
        @include infinteback;
    }
    .dottxt1{
        animation-delay: 500ms ;
        color: $vert;
        
    }
    .dottxt2{
        color: $violet;
        animation-delay: 1.5s;
    }    
    .dottxt3{
        animation-delay: 3s;
        color: $rose;
    }
    .geoloc{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        margin-top: 10px;
        &__icone{
            display: flex;
            align-items: center;
        }
        &__txt{
            display: flex;
            align-items: center;
            border: none;
        }
    }

}


